name: Deploy Widgetbook

on:
  push:
    branches:
      - main # Or master, depends on your main branch
    paths:
      - 'lib/**' # Only trigger when UI code changes
      - 'widgetbook/**'
      - 'pubspec.yaml'

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Install Dependencies
        run: flutter pub get

      # Key: Run Build Runner to generate code (ThemeTailor / Widgetbook Generator)
      - name: Run Build Runner
        run: dart run build_runner build --delete-conflicting-outputs

      - name: Build Web
        # Remember to replace <repo-name> with your project name
        run: flutter build web -t widgetbook/lib/main.dart --base-href /ui-kit/ --release

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web